body{
    font-family: "Roboto", sans-serif;
    background-image: url('../images/Sfondo.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: white;
    background-color: #7A9B4F;

}

h1{
    font-size: 2em;
}
footer{
    padding: 1em; 
    color: white; 
    background: rgba(0, 0, 0, 0.71); 
}

footer a {
    color: white;
}

.header {
    background: rgba(0, 0, 0, 0.07058823529411765);
    padding: .5em;
    font-size: .5rem;
    text-align: center;
}

.social-ui{
    max-height: 100px; 
    margin: -20px;
}
.container{
    display: flex; 
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

.main-content{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex: 1 1 auto;
    flex-shrink: 0;
}

.text-align-center{
    text-align: center;
}

.generate-button{
    background: #ededed;
    padding: 1em; 
    border-radius: 5px; 
    color: #02a1db;
    text-decoration:none;
    box-shadow:  0px 5px 0px #999; 
    transition: all .3s;
    display: inline-block;
    font-size: 1.2em;
}


.social_button{
    background: #02a1db;
    box-shadow:  0px 5px 0px #2092bb; 
    color: white;
    margin-left: 3px;
}   
.generate-button:hover{
    box-shadow:  0px 0px 0px #2092bb; 
    transform: translateY(5px); /* Equal to translateX(10px) */

}

.quote-container{
    max-width: 50%;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.5803921568627451); 
    color: #555;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media all and (max-width: 768px){
    .quote-container{
        max-width: 80%;
        margin-right: auto;
    }
}

.quote-container p{
    font-size: 1.5em;
}

.sarri-face{
    position:fixed;
    z-index: -1;
    max-width: 100%;
    bottom: 0;
    left: 0;
}