<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="/static/css/main.css">
<script src="https://use.fontawesome.com/7b5e0464ce.js"></script>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<meta name="msapplication-TileColor" content="#02a1db">
<meta name="theme-color" content="#02a1db">
<title>Generatore automatico di scuse di Maurizio Sarri</title>
<meta name="description" content="{{quote}}">
<meta property="og:title" content="Generatore automatico di scuse di Maurizio Sarri"/>
<meta property="og:image" content="{{og_image_url}}"/>
<meta property="og:description" content="{{quote}}" />
<meta property="og:url" content="{{live_url}}/dice/{{quote_url_share}}" />
<link rel="canonical" href="{{live_url}}/dice/{{quote_url_share}}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@LotrekAgency" >
<meta name="twitter:title" content="Generatore automatico di scuse di Maurizio Sarri">
<meta name="twitter:description" content="{{quote}}">
<meta name="twitter:image" content="{{og_image_url}}" >
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../images/ico/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/ico/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/ico/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/ico/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../images/ico/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../images/ico/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../images/ico/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../images/ico/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../images/ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../images/ico/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../images/ico/favicon-16x16.png" sizes="16x16" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="../images/ico/ms-icon-144x144.png" />
<meta name="msapplication-square70x70logo" content="../images/ico/ms-icon-70x70.png" />
<meta name="msapplication-square150x150logo" content="../images/ico/ms-icon-150x150.png" />
<meta name="msapplication-square310x310logo" content="../images/ico/ms-icon-310x310.png" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57664876-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57664876-7');
</script>

</head>
<body class="background">

    <div class="container">
        <img class="sarri-face" src="{{og_image_url}}">
        <div class="header">
            <h1>Generatore automatico di scuse di Maurizio Sarri</h1>
        </div>
    <div class="main-content">
        <div class="quote-container">


            <img class="social-ui" src="/static/images/nome_profilo_Facebook.png" alt="profilo">
            <p>

                {{quote}}
            </p>

        </div>

    </div>
        <div class="text-align-center">
            <a class="generate-button" href="/dice">Genera un'altra scusa!</a>
            <br>
            <p class="social">
                <span>Condividila sui social!</span>
                <a class="generate-button social_button" href="https://www.facebook.com/sharer/sharer.php?u={{live_url}}/dice/{{quote_url_share}}">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>

                <a class="generate-button social_button" href="https://twitter.com/home?status={{live_url}}/dice/{{quote_url_share}}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </p>

        </div>
        <footer class="text-align-center">
            <small>
                Le dichiarazioni presenti su questo sito web sono frutto della fantasia dagli autori. I contenuti di questo sito sono da
                intendersi puramente satirici.
            </small>
        </footer>
    </div>
</body>
