<head>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<style>
.background{font-family:'Poppins', sans-serif;color:#f3f3f3;background: #87e0fd;
background: -moz-linear-gradient(45deg, #87e0fd 0%, #53cbf1 40%, #02a1db 100%);
background: -webkit-linear-gradient(45deg, #87e0fd 0%,#53cbf1 40%,#02a1db 100%);
background: linear-gradient(45deg, #87e0fd 0%,#53cbf1 40%,#02a1db 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#02a1db',GradientType=1 );}.container{margin:auto;padding-top:105px}.title{text-align:center;margin:auto;font-size:2rem;font-weight:550;padding-top:105px}.subtitle{text-align:center;margin:auto font-size:1rem}.social{text-align:center;margin:auto font-size:0.2rem}a:link{color:#f3f3f3;text-decoration:none}a:visited{color:#f3f3f3;text-decoration:none}a:hover{color:#f3f3f3;text-decoration:underline}a:active{color:#f3f3f3;text-decoration:none}
</style>
<meta charset="utf-8">

<meta name="msapplication-TileColor" content="#02a1db">
<meta name="theme-color" content="#02a1db">
<title>Trova la scusa con Sarri</title>
<meta name="description" content="{{quote}}">
<meta property="og:title" content="Trova la scusa con Sarri"/>
<meta property="og:image" content="{{og_image_url}}"/>
<meta property="og:description" content="{{quote}}" />
<meta property="og:url" content="{{live_url}}/dice/{{quote_url_share}}" />
<link rel="canonical" href="{{live_url}}/dice/{{quote_url_share}}"/>
<meta property="og:url" content="{{live_url}}/dice/{{quote_url_share}}" />
<meta property="og:title" content="Trova la scusa con Sarri" />
<meta property="og:description" content="{{quote}}" />
<meta property="og:image" content="{{og_image_url}}" />
<meta name="twitter:card" content="summary" />


</head>
<body class="background">
<div class="container">
    <div>
    <p>
        <h1 class="title">{{quote}}</h1>
    </p>
</div><br>
    <div>
        <h4 class="subtitle">Condividi la scusa sui social!</h4>
        <p class="social">
            <a  class="social_button"
                href="https://www.facebook.com/sharer/sharer.php?u={{live_url}}/dice/{{quote_url_share}}">Facebook</a><span> | </span>
            <a  class="social_button"
                href="https://twitter.com/home?status={{live_url}}/dice/{{quote_url_share}}">Twitter</a>
        </p>
    </div>
</div>
</body>
