<head>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<style>
.background{font-family:'Poppins', sans-serif;color:#f3f3f3;background: #87e0fd;
background: -moz-linear-gradient(45deg, #87e0fd 0%, #53cbf1 40%, #02a1db 100%);
background: -webkit-linear-gradient(45deg, #87e0fd 0%,#53cbf1 40%,#02a1db 100%);
background: linear-gradient(45deg, #87e0fd 0%,#53cbf1 40%,#02a1db 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#02a1db',GradientType=1 );}.container{margin:auto;padding-top:105px}.title{text-align:center;margin:auto;font-size:2rem;font-weight:550;padding-top:105px}.subtitle{text-align:center;margin:auto font-size:1rem}.social{text-align:center;margin:auto font-size:0.2rem}a:link{color:#f3f3f3;text-decoration:none}a:visited{color:#f3f3f3;text-decoration:none}a:hover{color:#f3f3f3;text-decoration:underline}a:active{color:#f3f3f3;text-decoration:none}.generate-button{text-align:center;margin:auto;background-color:#02a1db;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px}
</style>
<meta charset="utf-8">

<meta name="msapplication-TileColor" content="#02a1db">
<meta name="theme-color" content="#02a1db">
<title>Trova la scusa con Sarri</title>
<meta name="description" content="{{quote}}">
<meta property="og:title" content="Trova la scusa con Sarri"/>
<meta property="og:image" content="{{og_image_url}}"/>
<meta property="og:description" content="{{quote}}" />
<meta property="og:url" content="{{live_url}}/dice/{{quote_url_share}}" />
<link rel="canonical" href="{{live_url}}/dice/{{quote_url_share}}"/>
<meta name="twitter:image" content="{{og_image_url}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@LotrekAgency" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-57x57.png"
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.sscnapoli.it/prehome/html/img/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://www.sscnapoli.it/prehome/html/img/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://www.sscnapoli.it/prehome/html/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://www.sscnapoli.it/prehome/html/img/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://www.sscnapoli.it/prehome/html/img/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://www.sscnapoli.it/prehome/html/img/favicon/favicon-128.png" sizes="128x128" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://www.sscnapoli.it/prehome/html/img/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://www.sscnapoli.it/prehome/html/img/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://www.sscnapoli.it/prehome/html/img/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://www.sscnapoli.it/prehome/html/img/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://www.sscnapoli.it/prehome/html/img/favicon/mstile-310x310.png" />


</head>
<body class="background">
<div class="container">
    <div>
    <p>
        <h1 class="title">{{quote}}</h1>
    </p>
</div><br>
    <div>
        <center><a class="generate-button" href="/dice">Genera un'altra scusa!</a></center><br><br>
        <h4 class="subtitle">Condividi la scusa sui social!</h4>
        <p class="social">
            <a  class="social_button"
                href="https://www.facebook.com/sharer/sharer.php?u={{live_url}}/dice/{{quote_url_share}}">Facebook</a><span> | </span>
            <a  class="social_button"
                href="https://twitter.com/home?status={{live_url}}/dice/{{quote_url_share}}">Twitter</a>
        </p>

    </div>

</div><br><br>
<footer>
    <center>
        made by <a class="social" href="https://lotrek.it">Lotrèk</a>
    </center>
    </footer>
</body>
